
.mainDiv > h3{
  text-decoration: underline;
}
.inputSection {
    /* background-color: gray; */
}
.inputSection > textarea {
  width: 280px;
  height: 35px;
}

.inputSection > button{
    background-color: black;
    color: white;
    width: 70px;
    border-radius: 4px;
    cursor: pointer;
}
.inputSection > button:hover{
    background-color: rgb(66, 59, 59);
}

.noticeCard{
  width: 40%;
  margin: auto;
  padding: 2px 12px;
  background-color: rgb(87, 216, 173);
  border-radius: 9px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 15px;
}
@media screen and (max-width : 799px){
  .noticeCard{
    width: 70%;
    margin-top: 10px;
  }
}
.noticeCard > div{
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}